<!-- Image and text -->
<div class="container-fluid">
  <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="<%= root_path %>">
      <h4>Blogger</h4>
    </a>
    <div>
      <%= current_user.email %>
    </div>
  </nav>
</div>
