<!-- Image and text -->
<div class="container-fluid">
  <nav class="navbar navbar-light fixed-top">
    <div class="d-flex">
      <a class="navbar-brand" href="<%= root_path %>">
        <h4 class="my-0">Blogger</h4>
      </a>
    </div>
    <div>
      <div class="dropdown">
        <% if user_signed_in? %>
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.email %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
                <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure delete this post?"
                }, class: "dropdown-item" %>
            </li>
          </ul>
        <% else %>
          <%= link_to "Sign in", new_user_session_url, class: 'btn btn-outline-primary' %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
